<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

            <h4 class="card-title">Barra de progreso</h4>

            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'" style="width: 75%"></div>
            </div>
              
          </div>
      </div>
  </div>
</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
  
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
                      <i class="mdi mdi-minus"></i>
                    </button>
                  </span>
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </span>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
  
              Texto 2
                
            </div>
        </div>
    </div>

  </div>